<div class="container mb-5"> 
    <h1 class="mt-5 mb-5">Entre em contato conosco</h1> 
   <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Digite seu nome completo">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensagem" rows="3"></textarea>
    </div>
    <button class="btn btn-outline-dark" href="#">Enviar</button>
</div> 