.parallax{
    background-image: url('https://cdn.pixabay.com/photo/2021/10/11/17/54/technology-6701504_1280.jpg');
    min-height:400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }