.social-network{
    list-style: none;

}
.social-network > li{
    display: inline;
    padding: 25px;
    font-size: 35px;

}
.iline-center{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    background-color: #f2f4f6;

}
.icoFacebook, .icoWhatsapp, .icoLinkedin, .icoInstagram{
    color: white;
}
.icoWhatsapp:hover{
    color: green;
}
.icoLinkedin:hover{
    color: blue;
}
.icoInstagram:hover{
    color: #c13584;
}
.icoFacebook:hover{
    color: #3b5998;
}